.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.custom-select-container {
  display: inline-block;
  position: relative;
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--grey-dark);
  padding: 0 3.5rem;
  gap: 0.5rem;
}

.custom-select-value::after {
  content: url('../assets/svg/select_arrow.svg');
  display: inline-block;
  height: 2rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.custom-select-value.rotate90::after {
  transform: rotateZ(90deg);
}

.custom-select-container:focus > .custom-select-value {
  border-width: 2px;
  outline: none;
}

.custom-select-options {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background: var(--white);
  border-radius: 0.5rem;
  z-index: 5;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 15px;
  left: 10%;
  max-height: 20rem;
  overflow-y: auto;
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  list-style: none;
  border: none !important;
  margin: 0 !important;
  padding: 1rem 3rem !important;
}

.custom-select-option:hover {
  background: var(--gray-light);
}

.custom-select-option.selected {
  background: var(--gray-light);
  font-weight: bold;
}

.custom-select-value:focus:after {
  transform: rotateZ(180deg);
}

@media (max-width: 1000px) { 
  .custom-select-value {
    padding: 0;
  }
}